.buyitem {
  margin-top: 2rem;
}
.buyitem img {
  width: 100%;
  height: auto;
}

.section1 {
  scroll-padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.dl_info {
  padding-top: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 800px) {
  .section2 {
    display: flex;
    flex-direction: column;
  }

  .productshow {
    padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .section1 {
    display: flex;
    justify-content: center;
    padding-left: 5rem;
    padding-bottom: 5rem;
  }

  .section2 {
    display: flex;
    justify-content: flex-start;
    padding: 5rem;
    flex-direction: column;
  }

  .section3 {
    display: flex;
    justify-content: flex-start;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }

  .dl_info {
    padding-top: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .yogaimg {
    display: flex;
    justify-content: center;
  }
  .yogah2 {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem;
  }

  .yogatyper article {
    margin: 5rem;
  }
}
