.container nav {
  justify-content: space-between;
  /* padding: 20px 10px; */
  display: flex;
  flex-direction: column;
}

.mainnav ul {
  list-style-type: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 1rem;
}

.mainnav li {
  display: inline-block;
  margin: 10px;
}

.mainnav a {
  color: #584c46;
  font-family: "mr-eaves-xl-modern", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.logobrand a {
  font-family: "pinot-grigio-modern", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  color: #584c46;
  text-decoration: none;
}

.logobrand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  padding: 1rem;
}
